*.yar linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false
*.sh linguist-detectable=false
*.yml linguist-detectable=false
*.json linguist-detectable=false
*.py linguist-detectable=true
